.root-layout {
  margin: 0 auto;
  height: 844px;
  width: 400px;
  overflow: scroll;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.news-item {
  background-color: black;
  text-decoration: none;
  height: 17rem;
  border: solid #3c948b 2px;
  color: #f0f0f0;
}

.news-item img {
  padding: 5px;
  width: 100%;
  height: 12rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

h6 {
  padding: 10px;
  padding-top: 0;
  margin-top: 15px;
}
